<div class="container">
<h3>Add a Todo</h3>
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" [(ngModel)]="title" class="form-control" name="title" id="title" aria-describedby="emailHelp" placeholder="Enter your todo">
     
    </div>
    <div class="form-group">
      <label for="desc">Description</label>
      <input type="text" [(ngModel)]="desc" class="form-control mb-3" name="desc" id="desc" placeholder="Enter Description">
    </div>
   
    <button type="submit" class="btn btn-primary mb-3" (click)="onSubmit()">Add</button>
  </form>
<div>
